.reg-link-wrapper {
  display: flex;
  justify-content: end;
}

.reg-link {
  background: blue;
  padding: 6px;
  border-radius: 8px;
  opacity: 0.5;
}

.profile-hat {
  margin: 60px 0 0 50px;
}

.profile-block {
  display: flex;
  align-items: center;
}

.profile-input-block {
  margin: 60px 0 0 50px;
  width: 340px;
}

.profile-input {
  width: 340px;
}

.user-profile-avatar {
  margin-left: 110px;
  display: flex;
  flex-wrap: wrap;
  max-width: 150px;
}

.user-profile-avatar a {
  width: 100%;
  text-align: center;
  color: #107eff;
  text-decoration: underline;
}

.save-btn {
  margin: 25px 0;
  width: 90px;
}