@media (max-width: 500px) {

    .header-hat {
        width: 100vw;
        position: fixed;
        z-index: 1;
    }

    .nav-btn {
        display: none;
    }

    .sidebar-btn {
        position: fixed;
    }
}