* {
  margin: 0;
  padding: 0;
}

body {
  background: #020019;
  font-family: sans-serif;
}

.set-output-length {
  display: block;
  width: 60%;
  margin: 30px auto 10px auto;
  background: #2a2a2a97;
  color: #48ff00;
  height: 30px;
  border: 2px solid rgb(138, 138, 138);
  border-radius: 8px;
  text-align: center;
  font-size: 15px;
}

.output {
  width: 80%;
  height: 50px;
  border: 2px solid #ff0000;
  background: #15151592;
  color: #009100d7;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

.generate-btn-wrapper {
  margin: 0 auto;
  display: flex;
  justify-content: end;
}

.output,
.generate-btn-wrapper {
  width: 80%;
  margin: 0 auto;
}

.generate-btn {
  border: none;
  padding: 10px;
  font-size: 15px;
  background: #1dff1d2b;
  color: white;
  margin-top: 20px;
  cursor: pointer;
}

.output,
.generate-btn {
  border-radius: 8px;
}
